# Build
**/bin/
**/obj/

# Configs com segredos
**/appsettings.Development.json
**/appsettings.Local.json

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db